#body-style {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;
    clear: both;
    color: #777777;
    background-image: url("../images/background-image.png");
    margin-bottom: 100px;
}

.navbar {
    border-bottom: 1px solid #cccccc;
}

.hd-content {
    font-family: Georgia, Times, 'Times New Roman', serif;

}

.background {
    padding: 1rem 1.5rem;
    background-color: #4aaaa5; 
}
.name {
    color: #ffffff;
}

.header-link-border{
    margin-top: 10px;
    border-right: 1px solid #cccccc;
}

.header-link{
    margin-top: 10px;
}

.center-text {
    width:100%;
}

.main-content {
    background-color:white;
    border: 1px solid #dddddd;
}

h2 {  
    font-size: 1.5em;
    color: #4aaaa5;
    font-weight: bolder;
}

#about-border {
    border-bottom: 1px #cccccc solid;
}

.bioimage {
    max-width: 240px;
    margin-right: 15px;
}

.col-md-3 img {
    width: 100%;
    height: 100%;
    max-width: 180px;
    max-height: 140px;
}

.label {
    position: absolute;
    left: 4px;
    bottom: 10px;
    top: 100px;
    float: left;
    margin-left: 11px;
    margin-bottom:25px;
    height: 22px;
    width: 100%;
    max-width: 180px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
}

img {
    width:80%;
    border: 1px solid #cccccc;
}

#portfolio-content {
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 5px solid #4aaaa5;
    background: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
