header {
    position:fixed;
    width: 100%;
    background: #fefefe;
    z-index: 2;
}

.head {    
    font-size: 18px;
    position: relative;
    text-align:center;
}

h4 {
    display: inline-block;
}

h1, h2, h3, h4, h5, a {
    color:black;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

p, #bio {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#bio {
    background: #fefefe;
    opacity: .6
}

.landing-page {
    background-image: url("../images/landing-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}

.portfolio-links {
    display:inline-block;
    height: 100%;
    max-height: 70px;
    width: 20%;
    background: #fefefe;
    border: 0;
}

.links-div {
    background: #fefefe;
    opacity: .90;
    vertical-align: middle;
    max-width: 450px;
    float: center;
}
img {
    background: #fefefe;
}

#portfolio {
    height: 600px;

}

.portfolio-page {
    background-image: url("../images/portfolio-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-header,#whiteText {
    color: #fefefe;
}

.carousel .carousel-caption { 
    visibility: hidden; 
}

.carousel {
    height: 80%;
    width: 90%;
    float: center;
}

.carousel-img {
    width: 100%;
}

.carousel-caption {
    background: #fefefe;
    opacity: .85;
    width: 70%;
}

footer {
    border-top: 2px solid #fefefe;
    background: black;
    color: #fefefe;
    text-align: center;
}