header {
    position:fixed;
    width: 100%;
    background: #fefefe;
    z-index: 2;
}

.head {    
    font-size: 18px;
    position: relative;
    text-align:center;
}

h4 {
    display: inline-block;
}

h1, h2, h3, h4, h5, a {
    color:black;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

p, #bio, #contact {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#bio, #contact {
    background: #fefefe;
    opacity: .6
}

#skill {
    background: #fefefe;
    opacity: .8
}

#landing-page {
    background-image: url("../images/landing-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}

.portfolio-links {
    display:inline-block;
    height: 100%;
    max-height: 70px;
    width: 20%;
    background: #fefefe;
    border: 0;
}

.links-div {
    background: #fefefe;
    opacity: .90;
    vertical-align: middle;
    max-width: 450px;
    float: center;
}
img {
    background: #fefefe;
}

#portfolio-page {
    background-image: url("../images/portfolio-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 635px;

}

.portfolio-header,#whiteText {
    color: #fefefe;
}

.carousel .carousel-caption { 
    visibility: hidden; 
}

.carousel:hover .carousel-caption { 
    visibility: visible; 
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

.carousel {
    height: 80%;
    width: 90%;
    float: center;
}

.carousel-img {
    width: 100%;
    max-height: 450px;
}

.carousel-caption {
    background: #fefefe;
    width: 75%;
}

#contact-page {
    background-image: url("../images/contact-background.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.contact-content {
    position: relative;
    bottom: 15px;
    left: 5px;
    font-size: 20px;
}

#skills-page {
    background-image: url("../images/skills-background.png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}


#landing-page, #portfolio-page, #contact-page, #skills-page { 
    padding-top: 65px; 
  }

footer {
    border-top: 2px solid #fefefe;
    background: black;
    color: #fefefe;
    text-align: center;
}

/* IN PROGRESS - make carousel caption font sizes change at different device widths */

#menu-center li {
    display: inline-block;
}

@media (max-width: 740px) {
    h1 {
        font-size: 28px;
    }
    h4 {
        font-size: 16px;
    }
    .title {
        padding-bottom: 0;
    }
    .head, .portfolio-header {
        padding-top: 0 !important;
    }
    .carousel-caption h5 {
        font-weight: 400;
        font-size: 12px;
    }
    .carousel-caption p {
        font-weight: 200;
        font-size: 10px;
      }
    .carousel-caption {
        position: relative;
        bottom: -20px;
    }
    .carousel {
        position: absolute;
    }
}

@media only screen {
    .carousel .carousel-caption { 
        visibility: visible; 
    }
}